.wrapper {
  width: 48%;
}

.member-area {
  width: 100%;
}

.member-row {
  width: 100%;
}

.per-member {
  cursor: pointer;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #ffffff;
  background: cover;
  position: relative;
}

.per-member-a {
  text-decoration: none;
  z-index: 2;
  position: relative;
}
.member-img {
  position: relative;
  border-radius: 50%;
  border: 8px solid #ffffff;
  &:hover {
    border: 8px solid #1e1c1c;
  }
  .pseudo {
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 150px;
    width: 150px;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border: 5px solid #ffffff;
    opacity: 0;
    &:hover {
      cursor: pointer;
      opacity: 0.35;
      &:checked + .pick {
        display: block;
        z-index: 6;
      }
    }
  }
  .pick {
    position: absolute;
    content: '';
    transform: translateX(-50%) translateY(50%);
    left: 0;
    top: -50%;
    z-index: 10;
    display: none;
  }
}

#head:checked + .pick {
  display: block;
  z-index: 6;
}

.title-step {
  width: 100%;
}

.d-list-title {
  padding: 30px;
  position: relative;
}

.d-list-title::after {
  position: absolute;
  right: 8px;
  content: '+';
}

.wrapper .slide {
  clear: both;
  width: 100%;
  overflow: hidden;
  text-align: center;
  transition: height 0.4s ease;
  option {
    padding: 16px 30px;
  }
}
